*,
body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #bfe6e4;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.container>.title {
    font-family: 'DM serif Display', serif;
    margin-bottom: 50px;
}

.faq {
    width: 500px;
    padding: 10px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #acacac;
    margin-bottom: 30px;
    font-family: 'DM Sans', sans-serif;
    transition: all .5s;
}

.faq-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-title>i {
    color: #dfbf42;
    cursor: pointer;
    user-select: none;
    transition: transform .3s ease;
}

.faq-title>i:hover {
    transform: rotate(180deg);
    color: #ac9125;
}

.faq-content {
    margin-top: 30px;
    line-height: 0.8cm;
    display: none;
    border-top: 1px solid rgb(189, 189, 189);
    padding-top: 10px;
}

.show {
    display: block;
}